common/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Address" type="xs:string"/>
	<xs:element name="CostPerWeek" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="NoOfBeds" type="xs:string"/>
	<xs:element name="PictureID" type="xs:string"/>
	<xs:element name="Property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PropertyID"/>
				<xs:element ref="Title"/>
				<xs:element ref="Description"/>
				<xs:element ref="Type"/>
				<xs:element ref="Location"/>
				<xs:element ref="NoOfBeds"/>
				<xs:element ref="CostPerWeek"/>
				<xs:element ref="Address"/>
				<xs:element ref="Email"/>
				<xs:element ref="PictureID"/>
			</xs:sequence>
			<xs:attribute name="source" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="CSharp"/>
						<xs:enumeration value="PHP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyID" type="xs:string"/>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="listings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
